#cart-frame {
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  font-family: Arial, sans-serif;
}

.cart-header {
  text-align: center;
  margin-bottom: 20px;
}

.cart-title {
  font-size: 24px;
  font-weight: bold;
}

.cart-summary {
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

.cart-summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-summary-label {
  font-weight: bold;
}

.cart-buttons {
  margin-top: 20px;
  text-align: center;
}

.checkout-button {
  background-color: #0070c9;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #005ca3;
}

/* Styles for cart items */
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item-image {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  font-weight: bold;
}

.cart-item-price {
  color: #777;
}

.cart-item-quantity {
  margin-top: 5px;
}

.cart-item-quantity input {
  width: 40px;
  padding: 5px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: 14px;
}

.cart-item-remove {
  flex-shrink: 0;
  margin-left: 10px;
  cursor: pointer;
}

.cart-item-remove:hover {
  color: #f00;
}


.listcategory a
{
  text-decoration: none; 
}